@model SCAN.ViewModels.PatientVM

@{
	ViewData["Title"] = "CreateAppointment";
}

@if (TempData["ResultID"] == "1")
{
	<div class="alert alert-success">@TempData["successMessage"]</div>
}

@if (TempData["ResultID"] == "0")
{
	<div class="alert alert-danger">@TempData["alertMessage"]</div>
}

<hr />
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Scan /</span> Create Appointment</h4>
		<form asp-action="CreateAppointment" method="post" asp-controller="Patient">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<!-- Basic -->
				<div class="col-md-6">
					<div class="card mb-4">
						<h5 class="card-header">Personal Information</h5>
						<div class="card-body demo-vertical-spacing demo-only-element">

							<div class="input-group">
								<label class="form-label">First Name</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="FirstName" />
								</div>
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Last Name</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="LastName" />
								</div>
								<span asp-validation-for="LastName" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Arabic First Name</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="ArabicFirstName" />
								</div>
								<span asp-validation-for="ArabicFirstName" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Arabic Last Name</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="ArabicLastName" />
								</div>
								<span asp-validation-for="ArabicLastName" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">City</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="City" />
								</div>
								<span asp-validation-for="City" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Government</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="Government" />
								</div>
								<span asp-validation-for="Government" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Age</label>
								<div class="input-group">
									<input class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="Age" />
								</div>
								<span asp-validation-for="Age" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Gender</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="Gender" />
								</div>
								<span asp-validation-for="Gender" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Phone</label>
								<div class="input-group">
									<input type="text"
										   class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="Phone" />
								</div>
								<span asp-validation-for="Phone" class="text-danger"></span>
							</div>

							<div class="input-group">
								<label class="form-label">Date of Birth</label>
								<div class="input-group">
									<input class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="BirthDate" />
								</div>
								<span asp-validation-for="BirthDate" class="text-danger"></span>
							</div>

						</div>
					</div>
				</div>

				<!-- Merged -->
				<div class="col-md-6">
					<div class="card mb-4">
						<h5 class="card-header">Appointment</h5>
						<div class="card-body demo-vertical-spacing demo-only-element">
							<div class="input-group">
								<select asp-for="ReferenceID" asp-items="Model.ReferenceList" class="form-control">
									<option value="">-- Select Reference --</option>
								</select>
								@* @Html.DropDownListFor(model => model.ReferenceID, Model.ReferenceList, "Select Reference" , new {@class = "form-control"} ) *@
							</div>

							<div class="input-group">
								<select asp-for="CheckTypeID" asp-items="Model.CheckTypeList" class="form-control">
									<option value="">-- Select Check Type --</option>
								</select>
								@* @Html.DropDownListFor(model=>model.CheckTypeID,Model.CheckTypeList,"Select Check type",new {@class="form-control"}) *@
							</div>

							<div class="input-group">
								<label class="form-label">Date of Appointment</label>
								<div class="input-group">
									<input class="form-control"
										   placeholder="Firstname"
										   aria-label="Username"
										   aria-describedby="basic-addon11"
										   asp-for="DateofAppointment" />
								</div>
								<span asp-validation-for="DateofAppointment" class="text-danger"></span>
							</div>

							<div class="btn-group">
								<input type="submit" value="Create" class="btn btn-primary me-3" />
							</div>

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
