@model SCAN.ViewModels.PatientVM

@{
    ViewData["Title"] = "CreateAppointment";
}

<h1>CreateAppointment</h1>

<h4>PatientVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatinetID" class="control-label"></label>
                <input asp-for="PatinetID" class="form-control" />
                <span asp-validation-for="PatinetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicFirstName" class="control-label"></label>
                <input asp-for="ArabicFirstName" class="form-control" />
                <span asp-validation-for="ArabicFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicLastName" class="control-label"></label>
                <input asp-for="ArabicLastName" class="form-control" />
                <span asp-validation-for="ArabicLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Government" class="control-label"></label>
                <input asp-for="Government" class="form-control" />
                <span asp-validation-for="Government" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofAppointment" class="control-label"></label>
                <input asp-for="DateofAppointment" class="form-control" />
                <span asp-validation-for="DateofAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckType" class="control-label"></label>
                <input asp-for="CheckType" class="form-control" />
                <span asp-validation-for="CheckType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScanImageUrl" class="control-label"></label>
                <input asp-for="ScanImageUrl" class="form-control" />
                <span asp-validation-for="ScanImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
